.headSection {
    margin-top: 90px;
    padding-left: 5px;
    position: relative;
    -border: 1px solid red;
    -width: 80%;
    overflow: hidden;
}

.mainPhoto {
    -display: inline-block;
    float:left;
    height: 300px;
    min-width: 250px;
    background-color: aquamarine;
    background-image: url(boss.JPG);
    background-size: cover;
    margin-right: 20px;
}

.hello {
    -display: inline-block;
    vertical-align: top;
    float:left;
    min-width: 250px;
    max-width: 60%;
    background-color: antiquewhite;
    margin-right: 10px;
}

.navSection {
    border: 1px solid blue;
    -width: 80%;
}

.navList {
    list-style: none;
    text-align: center;
}

.page {
    height: 175px;
    width: 150px;
    background-color: aquamarine;
    margin-right: 20px;
    background-image: url(news.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

.navList .page h4 {
    background-color: aqua;

}

li {
    display: inline-block;
}

.navPage {

}

    .navList .page a {
        text-decoration: none;
        color: black;
        display: block;
        height: 100%;
    }
