
section{
    box-sizing: border-box;
}
.headSection {
    margin-top: 90px;
    -padding: 5px;
    position: relative;
    -border: 2px solid #24564b;
    border-radius: 3px;
    width: 80%;
    overflow: hidden;
    height: 500px;
     border-top: 2px solid #24564b;
}


.videoBoss  {
    display: inline-block;
    width: 60%;
    height: 100%;
    margin-right: 5px;
    position: absolute;
    left: 0;

}

.videoBoss video {
   width:100%;
   max-height: 400px;
}

.videoConteiner{
}

.whoIAm {
    }

.mainPhoto {
    -display: inline-block;
    float:left;
    height: 300px;
    min-width: 250px;
    -background-color: aquamarine;
    background-image: url(assets/forAbout/boss.JPG);
    background-size: cover;
    margin-right: 20px;
}

.hello {
   display: inline-block;
    position: absolute;
    right: 0;
    width:calc(40% - 5px) ;
    border: 2px solid #24564b;
    border-top: none;
}

    .videoBoss .whois {
    text-align: center;
    border-bottom: 2px solid #24564b;
}
.videoBoss .whois h3 {
    color: #24564b;
    font-weight: 600;
}
    .videoBoss .whois p {
        font-size: 1.5rem;
    }



.navSection {
    margin-top: 30px;
    -border: 1px solid blue;
    width: 80%;
}

.navList {
    list-style: none;
    text-align: center;
}

.page {
    height: 175px;
    width: 150px;
    -background-color: aquamarine;
    margin-right: 20px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

    li:nth-child(1) .page {
        background-image: url(assets/forAbout/newsGreen.png);
    }

    li:nth-child(2) .page {
        background-image: url(assets/forAbout/sertificate1Green.png);
    }

    li:nth-child(3) .page {
        background-image: url(assets/forAbout/otz1Green.png);
    }

    li:nth-child(4) .page {
        background-image: url(assets/forAbout/fotoGreen.png);
    }

    li:nth-child(5) .page {
        background-image: url(assets/forAbout/videoGreen.png);
    }

    li:nth-child(6) .page {
        background-image: url(assets/forAbout/pressGreen.png);
    }

    li:nth-child(7) .page {
        background-image: url(assets/forAbout/zavodGreen.png);
    }

.navList .page h4 {
    -background-color: aqua;
    color: #24564b;

}

li {
    display: inline-block;
    border:  2px solid transparent;
    border-radius: 5px;
}

    li .page:hover h4 {
        -color: black;
        font-style: italic;
        font-weight: bold;
    }

    li:hover  {
        -border:  2px solid green;
    }

.navPage {

}

    .navList .page a {
        text-decoration: none;
        color: black;
        display: block;
        height: 100%;
    }


